<%= form_for @panel, :validate => true do |f| %>
  <% if @panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
      <% @panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :tilt %><br />
    <%= f.number_field :tilt %>
  
    <%= f.label :bearing %><br />
    <%= f.number_field :bearing %>
  
    <%= f.label :panel_size %><br />
    <%= f.text_field :panel_size %>
  
  <%= f.submit %>
<% end %>
