<% content_for :head_tags do %>
  <%= stylesheet_link_tag "shared/tables" %>
<% end %>
<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Panels' ) %>
<h1>Panels</h1>
<table class="table table-striped">
  <caption></caption>
  <colgroup>
    <col />
    <col />
  </colgroup>
  <thead>
    <tr>
        <th>Tilt</th>
        <th>Bearing</th>
        <th>Panel size</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @panels.each do |panel| %>
    <tr>
        <td><%= panel.tilt %></td>
        <td><%= panel.bearing %></td>
        <td><%= panel.panel_size %></td>
        <td><%= link_to 'Show', panel %></td>
      <td><%= link_to 'Edit', edit_panel_path(panel) %></td>
      <td><%= link_to 'Delete', panel, data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add panel', new_panel_path %>
