<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Panel' ) %>
<h1>Panel</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <caption></caption>
  <colgroup>
    <col id="column1" />
    <col id="column2" />
  </colgroup>
  <tbody>
    
      <tr>
        <td>Tilt</td>
        <td><%= @panel.tilt %></td>
      </tr>
    
      <tr>
        <td>Bearing</td>
        <td><%= @panel.bearing %></td>
      </tr>
    
      <tr>
        <td>Panel size</td>
        <td><%= @panel.panel_size %></td>
      </tr>
    
  </tbody>
</table>
<%= link_to 'List of Panels', panels_path %> | <%= link_to 'Edit', edit_panel_path(@panel) %>
