<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Irradiance' ) %>
<h1>Irradiance</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <caption></caption>
  <colgroup>
    <col id="column1" />
    <col id="column2" />
  </colgroup>
  <tbody>
    
      <tr>
        <td>Direct</td>
        <td><%= @irradiance.direct %></td>
      </tr>
    
      <tr>
        <td>Diffuse</td>
        <td><%= @irradiance.diffuse %></td>
      </tr>
    
      <tr>
        <td>Postcode</td>
        <td><%= @irradiance.postcode.pcode %></td>
      </tr>
    
      <tr>
        <td>Postcode_id</td>
        <td><%= @irradiance.postcode.id %></td>
      </tr>
    
  </tbody>
</table>
<%= link_to 'List of Irradiances', irradiances_path %> | <%= link_to 'Edit', edit_irradiance_path(@irradiance) %>
