<fieldset class="nested_fields">
  <div class="col-sm-5">
    <legend>Panel</legend>
    <div class="form-group">
      <%= f.label :bearing, 'Bearing', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.number_field :bearing, step: 'any', min: '0', max: '360', class: 'bearing_input form-control', autocomplete: 'off' %> <sup>&deg;</sup>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tilt, 'Tilt', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.number_field :tilt, step: 'any', min: '0', max: '180', class: 'tilt_input form-control', autocomplete: 'off' %> <sup>&deg;</sup>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :panel_size, raw('Area'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.number_field :panel_size, step: 'any', min: '0', class: 'form-control' %> m<sup>2</sup>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div id="icon1" class="icon">
      <p class="north">N</p>
      <p class="east">E</p>
      <p class="west">W</p>
      <div class="compass_points">
        <div class="compass">
          <div class="solar-panels">
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
          </div>
        </div>
      </div>
      <p class="south">S</p>
    </div>
  </div>
</fieldset>
