<fieldset class="nested_fields">
  <div id="panel1" class="icon">
    <p class="north">N</p>
    <p class="east">E</p>
    <p class="west">W</p>
    <div class="compass_points">
      <div class="compass">
        <div class="panels">
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
          <div class="panel"></div>
        </div>
      </div>
    </div>
    <p class="south">S</p>
  </div>
  <legend>Panel</legend>
  <%= f.label :bearing, 'Bearing (degrees clockwise from north)' %>
  <%= f.number_field :bearing, step: 'any', min: '0', max: '360', autocomplete: 'off' %>

  <%= f.label :tilt, 'Tilt (measured from horizontal, with panel bottom facing bearing)' %>
  <%= f.number_field :tilt, step: 'any', min: '0', max: '180', autocomplete: 'off' %>

  <%= f.label :panel_size, raw('Panel size (m<sup>2</sup>)') %>
  <%= f.number_field :panel_size, step: 'any', min: '0' %>
</fieldset>
