<fieldset class="row nested_fields">
  <div class="col-xs-7 col-sm-6 col-md-4">
    <legend>Panel</legend>
    <div class="form-group">
      <%= f.label :bearing, 'Bearing', class: 'control-label' %>
      <%= f.number_field :bearing, step: 'any', min: '0', max: '360', class: 'bearing_input form-control', autocomplete: 'off' %> <sup>&deg;</sup>
      <span id="bearing-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Use true north (from a map) not magnetic north"></span>
    </div>

    <div class="form-group">
      <%= f.label :tilt, 'Tilt', class: 'control-label' %>
      <%= f.number_field :tilt, step: 'any', min: '0', max: '180', class: 'tilt_input form-control', autocomplete: 'off' %> <sup>&deg;</sup>
      <span id="tilt-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enter the angle measured from the horizontal"></span>
    </div>

    <div class="form-group">
      <%= f.label :panel_size, raw('Area'), class: 'control-label' %>
      <%= f.number_field :panel_size, step: 'any', min: '0', class: 'area_input form-control' %> m<sup>2</sup>
    </div>
  </div>

  <div class="col-xs-5 col-sm-1 col-md-4">
    <div class="icon">
      <p class="north">N</p>
      <p class="east">E</p>
      <p class="west">W</p>
      <div class="compass_points">
        <div class="compass">
          <div class="solar-panels">
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
            <div class="solar-panel"></div>
          </div>
        </div>
      </div>
      <p class="south">S</p>
    </div>
  </div>
</fieldset>
