<fieldset class="nested_fields">
  <div class="input-group">
    <legend>Panel</legend>
    <%= f.label :bearing, 'Bearing' %>
    <%= f.number_field :bearing, step: 'any', min: '0', max: '360', class: 'bearing_input', autocomplete: 'off' %> <sup>&deg;</sup><br />

    <%= f.label :tilt, 'Tilt (degrees from horizontal)' %>
    <%= f.number_field :tilt, step: 'any', min: '0', max: '180', class: 'tilt_input', autocomplete: 'off' %> <sup>&deg;</sup><br />

    <%= f.label :panel_size, raw('Area') %>
    <%= f.number_field :panel_size, step: 'any', min: '0' %> m<sup>2</sup>
  </div>

  <div id="icon1" class="icon">
    <p class="north">N</p>
    <p class="east">E</p>
    <p class="west">W</p>
    <div class="compass_points">
      <div class="compass">
        <div class="solar-panels">
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
          <div class="solar-panel"></div>
        </div>
      </div>
    </div>
    <p class="south">S</p>
  </div>
</fieldset>
