<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Results' ) %>
<h2>Average annual panel output</h2>
<p class="alert alert-warning">This app is an alpha release and uses dummy data! Enjoy!</p>
<% @query_params.each_with_index do |panel, i| %>
  <p>Panel <%= i + 1 %>:</p>
  <ul>
    <li>bearing: <%= panel.bearing %><sup>&deg;</sup></li>
    <li>tilt: <%= panel.tilt %><sup>&deg;</sup></li>
    <li>area: <%= panel.panel_size %>m<sup>2</sup></li>
  </ul>
<% end %>
<p>@search_params: <%= @search_params.inspect %></p>
<p>@candidate_systems: <%= @candidate_systems.inspect %></p>
<p>@get_system: <%= @get_system.inspect %></p>
<p>@similar_system: <%= @similar_system.inspect %></p>
<p>@similar_pvo_system: <%= @similar_pvo_system.inspect %></p>
<p>Total output p.a.: <%= @total_output_pa %> megawatts</p>
<p>Drag to rotate graph, scroll to zoom.</p>
<%= content_tag :div, id: "output_pa", data: {datapoints: @output_pa} do %>
  <p class="alert alert-warning">Oops. There should be a pretty graph here.</p>
<% end %>
<button id="reload_page" type="button" class="btn btn-primary" autofocus="true">Try again</button>
