<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Results' ) %>
<h2>Average annual panel output</h2>
<p class="alert alert-warning">This app is an alpha release and uses dummy data! Enjoy!</p>
<% @query_params.each_with_index do |panel, i| %>
  <p>Panel <%= i + 1 %>:</p>
  <ul>
    <li>bearing: <%= panel.bearing %><sup>&deg;</sup></li>
    <li>tilt: <%= panel.tilt %><sup>&deg;</sup></li>
    <li>area: <%= panel.panel_size %>m<sup>2</sup></li>
  </ul>
<% end %>
<p>System size for given panel area: <%= number_to_human(@pv_query.system_watts, units: :W) %></p>
<p>@search_params: <%= @search_params.inspect %></p>
<p>@candidate_systems: <%= @candidate_systems.inspect %></p>
<p>@get_system: <%= @get_system.inspect %></p>
<p>@similar_system: <%= @similar_system.inspect %></p>
<p>@pvo_system: <%= @pvo_system.inspect %></p>
<p>@pvo_system output: <%# @pvo_system.output_pa %>kWh</p>
<p>Empirical output for pv_query: <%= number_to_human(@empirical_output_pa, units: :Wh) %></p>
<p>Output p.a.: <%= number_to_human(@output_pa, units: :Wh) %></p>
<p>Drag to rotate graph, scroll to zoom.</p>
<%= content_tag :div, id: "output_pa", data: {datapoints: @output_pa_array} do %>
  <p class="alert alert-warning">Oops. There should be a pretty graph here.</p>
<% end %>
<button id="reload_page" type="button" class="btn btn-primary" autofocus="true">Try again</button>
