<% content_for :head_tags do %>
  <%= stylesheet_link_tag "shared/tables" %>
<% end %>
<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Pv_queries' ) %>
<h1>Pv_queries</h1>
<table class="table table-striped">
  <caption></caption>
  <colgroup>
    <col />
    <col />
  </colgroup>
  <thead>
    <tr>
        <th>Postcode</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @pv_queries.each do |pv_query| %>
    <tr>
        <td><%= pv_query.postcode %></td>
        <td><%= link_to 'Show', pv_query %></td>
      <td><%= link_to 'Edit', edit_pv_query_path(pv_query) %></td>
      <td><%= link_to 'Delete', pv_query, confirm: "Are you sure?", method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add Pv query', new_pv_query_path %>
