<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Results' ) %>
<h1>Results</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <caption></caption>
  <colgroup>
    <col id="column1" />
    <col id="column2" />
  </colgroup>
  <tbody>
    
      <tr>
        <td>Postcode</td>
        <td><%= @pv_query.postcode_id %> <%= @pv_query.postcode.id %> <%= @pv_query.postcode.pcode %></td>
        <% @pv_query.panels.each do |panel| %>
          <td><%= panel.tilt %></td>
        <% end %>
      </tr>
    
  </tbody>
</table>
<p>@postcode_id: <%# @postcode_id %></p>
<p>@annual_dni: <%= @annual_dni %></p>
<p>@panels: <%= @panels[:annual_dni_received] %> </p>
