<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Results' ) %>
<h1>Results</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <caption></caption>
  <colgroup>
    <col id="column1" />
    <col id="column2" />
  </colgroup>
  <tbody>
    <tr>
      <td>Postcode:</td>
      <td><%= @pv_query.postcode.pcode %></td>
    </tr>
    <% @pv_query.panels.each_with_index do |panel, index| %>
      <tr>
        <td>Panel <%= index + 1 %></td>
        <td></td>
      </tr>
      <tr>
        <td>Tilt:</td>
        <td><%= panel.tilt %>&deg;</td>
      </tr>
      <tr>
        <td>Bearing:</td>
        <td><%= panel.bearing %>&deg;</td>
      </tr>
      <tr>
        <td>Size:</td>
        <td><%= panel.panel_size %> m<sup>2</sup></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Total panel output per annum, averaged over the panel's lifetime</h3>
<%= content_tag :div, id: "output_pa", data: {datapoints: @output_pa} do %>
  Javascript is required to view this graph.
<% end %>
