<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Pv_query' ) %>
<h1>Pv_query</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <caption></caption>
  <colgroup>
    <col id="column1" />
    <col id="column2" />
  </colgroup>
  <tbody>
    
      <tr>
        <td>Postcode</td>
        <td><%= @pv_query.postcode %></td>
      </tr>
      <% @pv_query.panels.each do |panel| %>
        <tr>
          <td>Tilt:</td>
          <td><%= panel.tilt %></td>
        </tr>
        <tr>
          <td>Bearing: </td>
          <td><%= panel.bearing %></td>
        </tr>
        <tr>
          <td>Panel size:</td>
          <td><%= panel.panel_size %></td>
        </tr>
      <% end %>
    
  </tbody>
</table>
<%= link_to 'List of Pv_queries', pv_queries_path %> | <%= link_to 'Edit', edit_pv_query_path(@pv_query) %>
