<% content_for :head_tags do %>
  <%= stylesheet_link_tag "shared/tables" %>
<% end %>
<% content_for :body_id do %>
index<% end %>

<%= provide(:title, 'Postcodes' ) %>
<h1>Postcodes</h1>
<table class="table table-striped">
  <caption></caption>
  <colgroup>
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
  </colgroup>
  <thead>
    <tr>
      <th>ID</th>
      <th>Postcode</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @postcodes.each do |postcode| %>
    <tr>
      <td><%= postcode.id %></td>
      <td><%= postcode.pcode %></td>
      <td><%= postcode.suburb %></td>
      <td><%= postcode.state %></td>
      <td><%= postcode.latitude %></td>
      <td><%= postcode.longitude %></td>
      <td><%= link_to 'Show', postcode %></td>
      <td><%= link_to 'Edit', edit_postcode_path(postcode) %></td>
      <td><%= link_to 'Delete', postcode, confirm: "Are you sure?", method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add postcode', new_postcode_path %>
