<!DOCTYPE html>
<html lang="en-AU">
<head><%#<<<%>
  <meta charset="UTF-8">
  <meta name="author" content="Design Studio Spring">
  <meta name="copyright" content="Design Studio Spring">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head><%#>>>%>
<body>
  <div id="holder">
    <div id="banner" class="container"><%#<<<%>
      <div class="row">
        <div class="left_col col-xs-12 col-sm-6 col-md-6">
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <a id="index_link" href="/">
            <div class="banner_panel coloured_panel">solario</div>
          </a>
        </div>
        <div class="hidden-xs col-xs-12 col-md-6 col-sm-6">
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs left_col col-xs-12 col-md-6 col-sm-6">
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
          <div class="banner_panel">
            <%#<div class="glyphicon glyphicon-certificate"></div>%>
          </div>
        </div>
        <div class="hidden-xs col-xs-12 col-md-6 col-sm-6">
          <div class="banner_panel"></div>
          <div class="banner_panel bg_panel"></div>
          <div class="banner_panel bg_panel"></div>
          <div class="banner_panel"></div>
        </div>
        <div class="left_col col-xs-12 col-md-6 col-sm-6">
          <div class="banner_panel">
            <div id="last_slogan" class="panel_content">...financial gain or drain?</div>
          </div>
          <div class="banner_panel">
            <div class="panel_content">solar panels...</div>
          </div>
          <div class="banner_panel"></div>
          <div class="banner_panel"></div>
        </div>
        <div class="hidden-xs col-xs-12 col-md-6 col-sm-6">
          <div class="banner_panel"></div>
          <div class="banner_panel bg_panel"></div>
          <div class="banner_panel bg_panel"></div>
          <div class="banner_panel"></div>
        </div>
          <%#<img id="logo" src="/assets/images/logo.svg" alt="" />%>
        <img id="graph_img" class="hidden-xs" src="/assets/graph.png" alt="sample graph" />
      </div>
    </div><%#>>>%>
    <main id="content" class="container"><%#<<<%>
      <div class="row">
        <% if user_signed_in? %>
          <nav id="admin_nav" class="col-sm-12 col-md-2">
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to 'Queries', pv_queries_path %></li>
              <li><%= link_to 'Postcodes', postcodes_path %></li>
              <li><%= link_to 'Irradiances', irradiances_path %></li>
              <li><%= link_to 'Panels', panels_path %></li>
            </ul>
          </nav>
        <% end %>
        <div class="col-sm-10 col-md-10">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </main><%#>>>%>
    <footer><%#<<<%>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <%= debug(params) if Rails.env.development? %>
        <p id="copyright" class="navbar-text">
          <span class="copyright-symbol">&#169;</span> - Solario
        </p>
        <ul class="nav nav-pills">
          <% if user_signed_in? %>
            <li><%= link_to "Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%# link_to "Terms", terms_path %></li>
        </ul>
      </nav>
    </footer><%#>>>%>
  </div>
</body>
</html>
